Import Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("proper.csv", delimiter="\t")

In [3]:
dataset.drop("<VOL>", inplace=True, axis = 1)

In [4]:
dataset.head()

       <DATE>   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <TICKVOL>  <SPREAD>
0  2020.01.01  0.70144  0.70195  0.70051  0.70188       1382         2
1  2020.01.02  0.70188  0.70198  0.69786  0.69832      27492         2
2  2020.01.03  0.69832  0.69865  0.69303  0.69448      32807         2
3  2020.01.05  0.69410  0.69448  0.69326  0.69435       2456         2
4  2020.01.06  0.69434  0.69577  0.69254  0.69369      28884         2

In [5]:
from datetime import datetime
import calendar

In [6]:
dataset['<DATE>'] = dataset['<DATE>'].apply(lambda x: calendar.timegm(datetime.strptime(x, '%Y.%m.%d').utctimetuple()))

In [7]:
dataset['<CLOSE>'].size

6621

In [8]:
def EMA(data, col, n, arr):
    y = n-1
    for i in range(data['<CLOSE>'].size):
        if(i < y):
            arr.append(0)
        elif(i == y):
            av = data.iloc[:i, col].mean()
            arr.append(av)
        else:
            EM = ((data.iloc[i,col] * 2)/(n + 1)) + arr[i-1] * (1-(2/(n+1)))
            arr.append(EM)

In [9]:
EMA12 = []
EMA(dataset, 4, 12, EMA12)
EMA26 = []
EMA(dataset, 4, 26, EMA26)

In [10]:
dataset['<EMA12>'] = EMA12
dataset['<EMA26>'] = EMA26
dataset['<MACD>'] = dataset['<EMA12>'] - dataset['<EMA26>']

In [11]:
dataset.head(20)

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>
0,1577836800,0.70144,0.70195,0.70051,0.70188,1382,2,0.000000,0.0,0.000000
1,1577923200,0.70188,0.70198,0.69786,0.69832,27492,2,0.000000,0.0,0.000000
2,1578009600,0.69832,0.69865,0.69303,0.69448,32807,2,0.000000,0.0,0.000000
3,1578182400,0.69410,0.69448,0.69326,0.69435,2456,2,0.000000,0.0,0.000000
4,1578268800,0.69434,0.69577,0.69254,0.69369,28884,2,0.000000,0.0,0.000000
5,1578355200,0.69370,0.69393,0.68501,0.68597,34415,2,0.000000,0.0,0.000000
6,1578441600,0.68597,0.68856,0.68490,0.68753,45198,2,0.000000,0.0,0.000000
7,1578528000,0.68753,0.68806,0.68503,0.68534,26889,2,0.000000,0.0,0.000000
8,1578614400,0.68534,0.69111,0.68509,0.68987,29148,2,0.000000,0.0,0.000000
9,1578787200,0.68975,0.69057,0.68929,0.68997,1302,2,0.000000,0.0,0.000000
10,1578873600,0.68996,0.69198,0.68947,0.68973,25373,2,0.000000,0.0,0.000000
11,1578960000,0.68973,0.69097,0.68851,0.68946,29334,2,0.691921,0.0,0.691921
12,1579046400,0.68946,0.69166,0.68772,0.69072,28213,2,0.691736,0.0,0.691736
13,1579132800,0.69072,0.69337,0.68878,0.68983,29664,2,0.691443,0.0,0.691443
14,1579219200,0.68983,0.69109,0.68705,0.68713,25708,2,0.690779,0.0,0.690779
15,1579392000,0.68725,0.68830,0.68720,0.68813,1225,2,0.690372,0.0,0.690372
16,1579478400,0.68813,0.68885,0.68553,0.68755,18387,2,0.689938,0.0,0.689938
17,1579564800,0.68755,0.68805,0.68419,0.68470,29455,2,0.689132,0.0,0.689132
18,1579651200,0.68473,0.68563,0.68270,0.68414,26974,2,0.688364,0.0,0.688364
19,1579737600,0.68413,0.68788,0.68294,0.68485,35546,2,0.687823,0.0,0.687823

In [12]:
dataset = dataset.iloc[11:,:]

In [13]:
SIGNAL = []
EMA(dataset, 9, 9, SIGNAL)
dataset['<SIGNAL>'] = SIGNAL

In [14]:
dataset.head(20)

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>
11,1578960000,0.68973,0.69097,0.68851,0.68946,29334,2,0.691921,0.000000,0.691921,0.000000
12,1579046400,0.68946,0.69166,0.68772,0.69072,28213,2,0.691736,0.000000,0.691736,0.000000
13,1579132800,0.69072,0.69337,0.68878,0.68983,29664,2,0.691443,0.000000,0.691443,0.000000
14,1579219200,0.68983,0.69109,0.68705,0.68713,25708,2,0.690779,0.000000,0.690779,0.000000
15,1579392000,0.68725,0.68830,0.68720,0.68813,1225,2,0.690372,0.000000,0.690372,0.000000
16,1579478400,0.68813,0.68885,0.68553,0.68755,18387,2,0.689938,0.000000,0.689938,0.000000
17,1579564800,0.68755,0.68805,0.68419,0.68470,29455,2,0.689132,0.000000,0.689132,0.000000
18,1579651200,0.68473,0.68563,0.68270,0.68414,26974,2,0.688364,0.000000,0.688364,0.000000
19,1579737600,0.68413,0.68788,0.68294,0.68485,35546,2,0.687823,0.000000,0.687823,0.690461
20,1579824000,0.68484,0.68574,0.68176,0.68260,26889,2,0.687020,0.000000,0.687020,0.689772
21,1579996800,0.68117,0.68182,0.68010,0.68013,3866,2,0.685960,0.000000,0.685960,0.689010
22,1580083200,0.68012,0.68170,0.67527,0.67617,29263,2,0.684454,0.000000,0.684454,0.688099
23,1580169600,0.67617,0.67666,0.67370,0.67638,29925,2,0.683212,0.000000,0.683212,0.687121
24,1580256000,0.67638,0.67772,0.67352,0.67532,30617,0,0.681997,0.000000,0.681997,0.686096
25,1580342400,0.67532,0.67533,0.67000,0.67054,37511,2,0.680235,0.687530,-0.007295,0.547418
26,1580428800,0.67054,0.67296,0.66828,0.66860,35169,2,0.678445,0.686127,-0.007683,0.436398
27,1580601600,0.66852,0.66956,0.66841,0.66928,2209,2,0.677035,0.684879,-0.007845,0.347550
28,1580688000,0.66922,0.67070,0.66837,0.66897,34708,2,0.675794,0.683701,-0.007907,0.276458
29,1580774400,0.66896,0.67418,0.66789,0.67311,34536,1,0.675381,0.682916,-0.007535,0.219660
30,1580860800,0.67311,0.67743,0.67237,0.67515,34091,2,0.675346,0.682341,-0.006996,0.174329

In [15]:
dataset = dataset.iloc[9:,:]

In [16]:
dataset.head()

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>
20,1579824000,0.68484,0.68574,0.68176,0.68260,26889,2,0.687020,0.0,0.687020,0.689772
21,1579996800,0.68117,0.68182,0.68010,0.68013,3866,2,0.685960,0.0,0.685960,0.689010
22,1580083200,0.68012,0.68170,0.67527,0.67617,29263,2,0.684454,0.0,0.684454,0.688099
23,1580169600,0.67617,0.67666,0.67370,0.67638,29925,2,0.683212,0.0,0.683212,0.687121
24,1580256000,0.67638,0.67772,0.67352,0.67532,30617,0,0.681997,0.0,0.681997,0.686096

In [17]:
def GL(data, gains, losses, col):
    for i in range(data['<CLOSE>'].size):
        if(i == 0):
            gains.append(0)
            losses.append(0)
        else:
            diff = data.iloc[i, col] - data.iloc[i-1, col]
            if(diff > 0):
                gains.append(diff)
                losses.append(0)
            elif(diff == 0):
                gains.append(0)
                losses.append(0)
            else:
                gains.append(0)
                losses.append(diff)

In [18]:
GAINS = []
LOSSES = []
GL(dataset, GAINS, LOSSES, 4)

In [19]:
dataset['<GAINS>'] = GAINS
dataset['<LOSSES>'] = LOSSES

In [20]:
dataset.head(20)

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>
20,1579824000,0.68484,0.68574,0.68176,0.68260,26889,2,0.687020,0.000000,0.687020,0.689772,0.00000,0.00000
21,1579996800,0.68117,0.68182,0.68010,0.68013,3866,2,0.685960,0.000000,0.685960,0.689010,0.00000,-0.00247
22,1580083200,0.68012,0.68170,0.67527,0.67617,29263,2,0.684454,0.000000,0.684454,0.688099,0.00000,-0.00396
23,1580169600,0.67617,0.67666,0.67370,0.67638,29925,2,0.683212,0.000000,0.683212,0.687121,0.00021,0.00000
24,1580256000,0.67638,0.67772,0.67352,0.67532,30617,0,0.681997,0.000000,0.681997,0.686096,0.00000,-0.00106
25,1580342400,0.67532,0.67533,0.67000,0.67054,37511,2,0.680235,0.687530,-0.007295,0.547418,0.00000,-0.00478
26,1580428800,0.67054,0.67296,0.66828,0.66860,35169,2,0.678445,0.686127,-0.007683,0.436398,0.00000,-0.00194
27,1580601600,0.66852,0.66956,0.66841,0.66928,2209,2,0.677035,0.684879,-0.007845,0.347550,0.00068,0.00000
28,1580688000,0.66922,0.67070,0.66837,0.66897,34708,2,0.675794,0.683701,-0.007907,0.276458,0.00000,-0.00031
29,1580774400,0.66896,0.67418,0.66789,0.67311,34536,1,0.675381,0.682916,-0.007535,0.219660,0.00414,0.00000
30,1580860800,0.67311,0.67743,0.67237,0.67515,34091,2,0.675346,0.682341,-0.006996,0.174329,0.00204,0.00000
31,1580947200,0.67515,0.67649,0.67269,0.67313,27747,2,0.675005,0.681659,-0.006654,0.138132,0.00000,-0.00202
32,1581033600,0.67312,0.67314,0.66622,0.66766,29280,2,0.673875,0.680622,-0.006747,0.109156,0.00000,-0.00547
33,1581206400,0.66670,0.66784,0.66666,0.66699,2433,2,0.672816,0.679612,-0.006797,0.085966,0.00000,-0.00067
34,1581292800,0.66701,0.67074,0.66679,0.66895,30587,2,0.672221,0.678822,-0.006601,0.067452,0.00196,0.00000
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000

In [21]:
dataset = dataset.iloc[1:, :]

In [22]:
dataset.head(20)

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>
21,1579996800,0.68117,0.68182,0.68010,0.68013,3866,2,0.685960,0.000000,0.685960,0.689010,0.00000,-0.00247
22,1580083200,0.68012,0.68170,0.67527,0.67617,29263,2,0.684454,0.000000,0.684454,0.688099,0.00000,-0.00396
23,1580169600,0.67617,0.67666,0.67370,0.67638,29925,2,0.683212,0.000000,0.683212,0.687121,0.00021,0.00000
24,1580256000,0.67638,0.67772,0.67352,0.67532,30617,0,0.681997,0.000000,0.681997,0.686096,0.00000,-0.00106
25,1580342400,0.67532,0.67533,0.67000,0.67054,37511,2,0.680235,0.687530,-0.007295,0.547418,0.00000,-0.00478
26,1580428800,0.67054,0.67296,0.66828,0.66860,35169,2,0.678445,0.686127,-0.007683,0.436398,0.00000,-0.00194
27,1580601600,0.66852,0.66956,0.66841,0.66928,2209,2,0.677035,0.684879,-0.007845,0.347550,0.00068,0.00000
28,1580688000,0.66922,0.67070,0.66837,0.66897,34708,2,0.675794,0.683701,-0.007907,0.276458,0.00000,-0.00031
29,1580774400,0.66896,0.67418,0.66789,0.67311,34536,1,0.675381,0.682916,-0.007535,0.219660,0.00414,0.00000
30,1580860800,0.67311,0.67743,0.67237,0.67515,34091,2,0.675346,0.682341,-0.006996,0.174329,0.00204,0.00000
31,1580947200,0.67515,0.67649,0.67269,0.67313,27747,2,0.675005,0.681659,-0.006654,0.138132,0.00000,-0.00202
32,1581033600,0.67312,0.67314,0.66622,0.66766,29280,2,0.673875,0.680622,-0.006747,0.109156,0.00000,-0.00547
33,1581206400,0.66670,0.66784,0.66666,0.66699,2433,2,0.672816,0.679612,-0.006797,0.085966,0.00000,-0.00067
34,1581292800,0.66701,0.67074,0.66679,0.66895,30587,2,0.672221,0.678822,-0.006601,0.067452,0.00196,0.00000
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000
40,1581897600,0.67253,0.67333,0.67069,0.67096,16998,2,0.671848,0.676168,-0.004320,0.014026,0.00000,-0.00158

In [23]:
def RS(data, n, rs):
    y = n-1
    for i in range(data['<CLOSE>'].size):
        if(i < y):
            rs.append(0)
        else:
            GA = data.iloc[(i-y):i, 11].mean()
            LO = data.iloc[(i-y):i, 12].mean()
            div = GA/LO
            rs.append(div)

In [24]:
RelStr = []
RS(dataset, 14, RelStr)

In [25]:
dataset['<RS>'] = RelStr

In [26]:
dataset.head(20)

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>,<RS>
21,1579996800,0.68117,0.68182,0.68010,0.68013,3866,2,0.685960,0.000000,0.685960,0.689010,0.00000,-0.00247,0.000000
22,1580083200,0.68012,0.68170,0.67527,0.67617,29263,2,0.684454,0.000000,0.684454,0.688099,0.00000,-0.00396,0.000000
23,1580169600,0.67617,0.67666,0.67370,0.67638,29925,2,0.683212,0.000000,0.683212,0.687121,0.00021,0.00000,0.000000
24,1580256000,0.67638,0.67772,0.67352,0.67532,30617,0,0.681997,0.000000,0.681997,0.686096,0.00000,-0.00106,0.000000
25,1580342400,0.67532,0.67533,0.67000,0.67054,37511,2,0.680235,0.687530,-0.007295,0.547418,0.00000,-0.00478,0.000000
26,1580428800,0.67054,0.67296,0.66828,0.66860,35169,2,0.678445,0.686127,-0.007683,0.436398,0.00000,-0.00194,0.000000
27,1580601600,0.66852,0.66956,0.66841,0.66928,2209,2,0.677035,0.684879,-0.007845,0.347550,0.00068,0.00000,0.000000
28,1580688000,0.66922,0.67070,0.66837,0.66897,34708,2,0.675794,0.683701,-0.007907,0.276458,0.00000,-0.00031,0.000000
29,1580774400,0.66896,0.67418,0.66789,0.67311,34536,1,0.675381,0.682916,-0.007535,0.219660,0.00414,0.00000,0.000000
30,1580860800,0.67311,0.67743,0.67237,0.67515,34091,2,0.675346,0.682341,-0.006996,0.174329,0.00204,0.00000,0.000000
31,1580947200,0.67515,0.67649,0.67269,0.67313,27747,2,0.675005,0.681659,-0.006654,0.138132,0.00000,-0.00202,0.000000
32,1581033600,0.67312,0.67314,0.66622,0.66766,29280,2,0.673875,0.680622,-0.006747,0.109156,0.00000,-0.00547,0.000000
33,1581206400,0.66670,0.66784,0.66666,0.66699,2433,2,0.672816,0.679612,-0.006797,0.085966,0.00000,-0.00067,0.000000
34,1581292800,0.66701,0.67074,0.66679,0.66895,30587,2,0.672221,0.678822,-0.006601,0.067452,0.00196,0.00000,-0.311728
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000,-0.446809
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054,-0.733538
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000,-0.697439
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050,-0.781945
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000,-1.074236
40,1581897600,0.67253,0.67333,0.67069,0.67096,16998,2,0.671848,0.676168,-0.004320,0.014026,0.00000,-0.00158,-1.414301

In [27]:
dataset = dataset.iloc[14:, :]

In [28]:
dataset.head(10)

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>,<RS>
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000,-0.446809
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054,-0.733538
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000,-0.697439
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050,-0.781945
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000,-1.074236
40,1581897600,0.67253,0.67333,0.67069,0.67096,16998,2,0.671848,0.676168,-0.004320,0.014026,0.00000,-0.00158,-1.414301
41,1581984000,0.67095,0.67096,0.66736,0.66940,26206,2,0.671471,0.675667,-0.004195,0.010382,0.00000,-0.00156,-1.151488
42,1582070400,0.66940,0.67076,0.66653,0.66809,23565,0,0.670951,0.675105,-0.004154,0.007474,0.00000,-0.00131,-1.034846
43,1582156800,0.66806,0.66948,0.66103,0.66117,36387,2,0.669446,0.674073,-0.004627,0.005054,0.00000,-0.00692,-0.632234
44,1582243200,0.66117,0.66389,0.65859,0.66270,31850,2,0.668408,0.673231,-0.004822,0.003079,0.00153,0.00000,-0.320369

In [29]:
dataset["<GROW>"] = dataset["<CLOSE>"] - dataset["<OPEN>"]

In [30]:
dataset.head()

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>,<RS>,<GROW>
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000,-0.446809,0.00289
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054,-0.733538,-0.00054
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000,-0.697439,0.00058
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050,-0.781945,-0.00052
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000,-1.074236,0.00046

In [31]:
dataset.tail()

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>,<RS>,<GROW>
6616,977702400,0.5565,0.5583,0.5551,0.5556,337,50,0.549944,0.543475,0.006469,0.005712,0.0000,-0.0008,-1.522059,-0.0009
6617,977788800,0.5555,0.5599,0.5552,0.5584,1560,50,0.551245,0.544581,0.006664,0.005902,0.0028,0.0000,-2.070000,0.0029
6618,977875200,0.5583,0.5597,0.5552,0.5575,3445,50,0.552207,0.545538,0.006670,0.006056,0.0000,-0.0009,-3.671875,-0.0008
6619,977961600,0.5576,0.5579,0.5517,0.5543,3026,50,0.552529,0.546187,0.006342,0.006113,0.0000,-0.0032,-3.082192,-0.0033
6620,978048000,0.5542,0.5591,0.5530,0.5586,2433,50,0.553463,0.547106,0.006357,0.006162,0.0043,0.0000,-2.678571,0.0044

In [32]:
def CLGrowth(i):
        if(i == 0):
            return 1
        elif(i < 0):
            return 0
        elif(i > 0):
            return 2

In [33]:
dataset['<CLGROWTH>'] = dataset['<GROW>'].apply(CLGrowth)

In [34]:
dataset.head()

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>,<RS>,<GROW>,<CLGROWTH>
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000,-0.446809,0.00289,1.0
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054,-0.733538,-0.00054,0.0
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000,-0.697439,0.00058,1.0
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050,-0.781945,-0.00052,0.0
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000,-1.074236,0.00046,1.0

In [35]:
dataset['<CLGROWTH>'].unique

<bound method Series.unique of 35      1.0
36      0.0
37      1.0
38      0.0
39      1.0
       ...
6616    0.0
6617    1.0
6618    0.0
6619    0.0
6620    1.0
Name: <CLGROWTH>, Length: 6586, dtype: float64>

In [36]:
dataset["<CLGROWTH>"] = dataset["<CLGROWTH>"].shift(-1)
dataset = dataset.iloc[:-1,:]

In [37]:
dataset.drop("<GROW>", inplace=True, axis = 1)

In [38]:
dataset.head()

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<SPREAD>,<EMA12>,<EMA26>,<MACD>,<SIGNAL>,<GAINS>,<LOSSES>,<RS>,<CLGROWTH>
35,1581379200,0.66895,0.67366,0.66810,0.67184,27546,2,0.672162,0.678305,-0.006143,0.052733,0.00289,0.00000,-0.446809,0.0
36,1581465600,0.67184,0.67499,0.67068,0.67130,29940,2,0.672030,0.677786,-0.005757,0.041035,0.00000,-0.00054,-0.733538,1.0
37,1581552000,0.67131,0.67449,0.67096,0.67189,31485,2,0.672008,0.677349,-0.005341,0.031760,0.00059,0.00000,-0.697439,0.0
38,1581638400,0.67191,0.67314,0.67092,0.67139,21164,2,0.671913,0.676908,-0.004995,0.024409,0.00000,-0.00050,-0.781945,1.0
39,1581811200,0.67208,0.67295,0.67167,0.67254,1271,2,0.672009,0.676584,-0.004575,0.018612,0.00115,0.00000,-1.074236,0.0

In [39]:
X = dataset.iloc[: ,:-1].values
y = dataset.iloc[:, -1].values

In [40]:
X

array([[ 1.58137920e+09,  6.68950000e-01,  6.73660000e-01, ...,
         2.89000000e-03,  0.00000000e+00, -4.46808511e-01],
       [ 1.58146560e+09,  6.71840000e-01,  6.74990000e-01, ...,
         0.00000000e+00, -5.40000000e-04, -7.33538462e-01],
       [ 1.58155200e+09,  6.71310000e-01,  6.74490000e-01, ...,
         5.90000000e-04,  0.00000000e+00, -6.97438952e-01],
       ...,
       [ 9.77788800e+08,  5.55500000e-01,  5.59900000e-01, ...,
         2.80000000e-03,  0.00000000e+00, -2.07000000e+00],
       [ 9.77875200e+08,  5.58300000e-01,  5.59700000e-01, ...,
         0.00000000e+00, -9.00000000e-04, -3.67187500e+00],
       [ 9.77961600e+08,  5.57600000e-01,  5.57900000e-01, ...,
         0.00000000e+00, -3.20000000e-03, -3.08219178e+00]])

In [41]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 0:13])
X[:, 0:13] = imputer.transform(X[:, 0:13])

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 1)

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
sc_Xtrain = StandardScaler()
X_train = sc_Xtrain.fit_transform(X_train)

sc_Xtest = StandardScaler()
X_test = sc_Xtest.fit_transform(X_test)

<h1>LOGISTIC REGRESION </h1>

In [45]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
y_pred = classifier.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)

In [ ]:
cm

In [ ]:
acc

<h1>KNN</h1>

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier1 = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier1.fit(X_train, y_train)

In [ ]:
y_pred1 = classifier1.predict(X_test)

In [ ]:
cm1 = confusion_matrix(y_test, y_pred1)
acc1 = accuracy_score(y_test, y_pred1)

In [ ]:
cm1

In [ ]:
acc1

<h1>SVM</h1>

In [ ]:
from sklearn.svm import SVC
classifier2 = SVC(kernel = 'linear', random_state = 0)
classifier2.fit(X_train, y_train)

In [ ]:
y_pred2 = classifier2.predict(X_test)

In [ ]:
cm2 = confusion_matrix(y_test, y_pred2)
acc2 = accuracy_score(y_test, y_pred2)

In [ ]:
cm2

In [ ]:
acc2

<h1>KERNEL SVM</h1>

<h2>rbf kernel</h2>

In [ ]:
classifier3 = SVC(kernel = 'rbf', random_state = 0)
classifier3.fit(X_train, y_train)

In [ ]:
y_pred3 = classifier3.predict(X_test)

In [ ]:
cm3 = confusion_matrix(y_test, y_pred3)
acc3 = accuracy_score(y_test, y_pred3)

In [ ]:
cm3

In [ ]:
acc3

<h2>poly kernel</h2>

In [ ]:
classifier4 = SVC(kernel = 'sigmoid', random_state = 0)
classifier4.fit(X_train, y_train)

In [ ]:
y_pred4 = classifier4.predict(X_test)

In [ ]:
cm4 = confusion_matrix(y_test, y_pred4)
acc4 = accuracy_score(y_test, y_pred4)

In [ ]:
cm4

In [ ]:
acc4

<h1>Naive Bayes Model</h1>

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier5 = GaussianNB()
classifier5.fit(X_train, y_train)

In [ ]:
y_pred5 = classifier5.predict(X_test)

In [ ]:
cm5 = confusion_matrix(y_test, y_pred5)
acc5 = accuracy_score(y_test, y_pred5)

In [ ]:
cm5

In [ ]:
acc5

<h1>Decision Trees</h1>

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier6 = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier6.fit(X_train, y_train)

In [ ]:
y_pred6 = classifier6.predict(X_test)

In [ ]:
cm6 = confusion_matrix(y_test, y_pred6)
acc6 = accuracy_score(y_test, y_pred6)

In [ ]:
cm6

In [ ]:
acc6

<h1>Random Forest</h1>

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier7 = RandomForestClassifier(n_estimators = 500, criterion = 'entropy', random_state=0)
classifier7.fit(X_train, y_train)

In [ ]:
y_pred7 = classifier7.predict(X_test)

In [ ]:
cm7 = confusion_matrix(y_test, y_pred7)
acc7 = accuracy_score(y_test, y_pred7)

In [ ]:
cm7

In [ ]:
acc7

<h1>XGBoost</h1>

In [ ]:
from xgboost import XGBClassifier
classifier8 = XGBClassifier()
classifier8.fit(X_train, y_train)

In [ ]:
y_pred8 = classifier8.predict(X_test)

In [ ]:
cm8 = confusion_matrix(y_test, y_pred8)
acc8 = accuracy_score(y_test, y_pred8)

In [ ]:
cm8

In [ ]:
acc8

<h1>Testing on new data</h1>

In [ ]:
datasetTest = pd.read_csv("AUDUSD_JUNE18.csv", delimiter="\t")
datasetTest.drop("<VOL>", inplace=True, axis = 1)
datasetTest.head()

In [ ]:
datasetTest.tail()

In [ ]:
datasetTest['<DATE>'] = datasetTest['<DATE>'].apply(lambda x: calendar.timegm(datetime.strptime(x, '%Y.%m.%d').utctimetuple()))

In [ ]:
tEMA12 = []
EMA(datasetTest, 4, 12, tEMA12)

In [ ]:
datasetTest['<EMA12>'] = tEMA12

In [ ]:
datasetTest.head(20)

In [ ]:
datasetTest = datasetTest.iloc[11:,:]

In [ ]:
datasetTest.head(20)

In [ ]:
tEMA26 = []
EMA(datasetTest, 4, 26, tEMA26)

In [ ]:
datasetTest['<EMA26>'] = tEMA26

In [ ]:
datasetTest.head(40)

In [ ]:
datasetTest = datasetTest.iloc[25:,:]

In [ ]:
datasetTest.head(20)

In [ ]:
datasetTest['<MACD>'] = datasetTest['<EMA12>'] - datasetTest['<EMA26>']

In [ ]:
tSIGNAL = []
EMA(datasetTest, 9, 9, tSIGNAL)
datasetTest['<SIGNAL>'] = tSIGNAL

In [ ]:
datasetTest.head(20)

In [ ]:
datasetTest = datasetTest.iloc[8:,:]

In [ ]:
tGAINS = []
tLOSSES = []
GL(datasetTest, tGAINS, tLOSSES, 4)

In [ ]:
datasetTest['<GAINS>'] = tGAINS
datasetTest['<LOSSES>'] = tLOSSES

In [ ]:
tRelStr = []
RS(datasetTest, 14, tRelStr)

In [ ]:
datasetTest['<RS>'] = tRelStr

In [ ]:
datasetTest["<GROW>"] = datasetTest["<CLOSE>"] - datasetTest["<OPEN>"]

In [ ]:
datasetTest.tail()

In [ ]:
datasetTest.tail(20)

In [ ]:
datasetTest['<CLGROWTH>'] = datasetTest['<GROW>'].apply(CLGrowth)

In [ ]:
datasetTest.head()

In [ ]:
datasetTest["<CLGROWTH>"] = datasetTest["<CLGROWTH>"].shift(-1)
datasetTest = datasetTest.iloc[:-1,:]

In [ ]:
datasetTest.tail()

In [ ]:
datasetTest.drop("<GROW>", inplace=True, axis = 1)

In [ ]:
Xt = datasetTest.iloc[: ,:-1].values
yt = datasetTest.iloc[:, -1].values

In [ ]:
datasetTest.iloc[: ,:-1].head()

In [ ]:
yt

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(Xt[:, 0:13])
Xt[:, 0:13] = imputer.transform(Xt[:, 0:13])

In [ ]:
sc_Xt = StandardScaler()
Xt = sc_Xt.fit_transform(Xt)

In [ ]:
y_pred10 = classifier4.predict(Xt)

In [ ]:
np.set_printoptions(precision=2)
print(np.concatenate((y_pred10.reshape(len(y_pred10), 1), yt.reshape(len(yt), 1)), 1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cmT = confusion_matrix(yt, y_pred10)
accT = accuracy_score(yt, y_pred10)

In [ ]:
cmT

In [ ]:
accT

In [ ]:
y_pred11 = classifier4.predict(sc_Xt.fit_transform([[1623974400, 0.75566, 0.75608, 0.74787, 0.74789, 57720, 2, 0.764975, 0.769248, -0.004273, -0.001905, 0.00000, -0.00777, -0.396846]]))

In [ ]:
y_pred11